@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
body {
  max-width: 1500px;
  width: 90vw;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #20252D;
}


/** reset **/

a {
  text-decoration: none;
}

ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}


/** navbar **/

.navbar {
  position: fixed;
  min-width: 90vw;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  display: flex;
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 34px 0 0;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 30px;
}

nav li:last-of-type {
  padding-right: 0;
}

nav a {
  font-weight: bold;
  color: #ddd;
  transition: 0.2s;
}

nav a:hover {
  border-bottom: 2px solid #00bfaa;
  color: white;
  transition: 0.2s;
}

.contact {
  padding: 13px 30px;
  background-color: rgb(44, 55, 75);
  color: #fff;
  border-radius: 8px 8px 8px 0;
  font-weight: bold;
  transition: 0.3s;
}

.contact:hover {
  background-color: #00bfaa;
  transition: 0.5s;
  border: none;
}


/** dark mode **/

.toggle {
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 20px;
  top: 34px;
  right: 35px;
}

.toggle input[type=checkbox] {
  display: none;
}

.toggle input[type=checkbox]:checked~.button {
  left: 0;
  transition: 0.5s;
}

.toggle .button,
.toggle .switch {
  position: absolute;
  cursor: pointer;
}

.toggle .switch {
  display: block;
  width: 45px;
  height: 10px;
  top: 5px;
  background-color: #00bfaa;
  border-radius: 5px;
}

.toggle .button {
  display: block;
  height: 20px;
  width: 20px;
  left: 25px;
  transition: 0.5s;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0.9px 1.8px rgba(0, 0, 0, 0.4);
}


/** hero section **/

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.intro {
  height: calc(100vh);
  display: flex;
  align-items: center;
}

.intro p {
  color: rgba(255, 255, 255, 0.8);
}

.intro p:nth-of-type(2) {
  height: 89px;
  max-width: 540px;
  font-weight: bold;
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 30px;
  color: white;
}

.intro p:last-of-type {
  padding-bottom: 34px;
  text-decoration: underline solid #00bfaa;
}

.intro span {
  color: #00bfaa
}


/** content animation **/